*{
  margin: 25px;
  width: 25px;
  border: 25px color: black;

}

.container {
  height=100hv;
  width=100℅;
  background-color: orange;
  display: flex;
  background-position: centre;
  background-size: cover;
  position: relative;
}

.form-box {
  width: 60℅;
  height: 40℅;
  position: centre;
  margin:10℅ auto;
  background-blend-mode: 20℅;
  padding: 40℅;
  
  
  
  

  
